@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* --main-bg-color: #000000;
    --sec-color: #f6f6f6;
    --ter-color: #22d4fd;
    --shadow-b-color: #272727; */

     /* --main-bg-color: #003C43;
    --sec-color: #E3FEF7;
    --ter-color: #77B0AA;
    --shadow-b-color: #135D66; */

    /* --main-bg-color: #070F2B;
    --sec-color: #9290C3;
    --ter-color: #535C91;
    --shadow-b-color: #1B1A55; */

    /* --main-bg-color: #222831;
    --sec-color: #EEEEEE;
    --ter-color: #00ADB5;
    --shadow-b-color: #393E46; */

    --main-bg-color: #071952;
    --sec-color: #EBF4F6;
    --ter-color: #37B7C3;
    --shadow-b-color: #37b7c338;
    --curriculo_bg: #0b1534;

    --fonte-prim: "Anton SC", sans-serif;
    --fonte-sec: "Montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    color: var(--sec-color);
    font-weight: 500;
    
}
.titulo_principal {
    color: var(--sec-color);
    margin: 4px;
    font-family: var(--fonte-prim);
    font-size: 1.93rem;
    
}
.paragrafo_apresentacao {
    color: var(--sec-color);
    padding: 2px;
    font-family: var(--fonte-sec);
    margin-top: 10px;
    font-size: 1.12rem;
    text-align: justify;

}

.rodape {
    color: var(--main-bg-color);
    background-color: var(--ter-color);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-sec);
    line-height: 36px;
    font-size: 1.2rem;
}
.chamada_contato {
    text-align: center;
    margin-bottom: 3px;
    font-family: var(--fonte-prim);
    color: var(--ter-color);
    font-size: 1.43rem;
    margin-top: 20px;
    width: 280px;

}
.imagem_principal {
    width: 45%;
    height: 45%;
    padding: 10px;
    margin: 2px;
    border: 3px solid var(--ter-color);
    border-radius: 30px;
}
.botoes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.botao_ {
    margin: 10px;
    background-color: var(--main-bg-color);
    color: var(--ter-color);
    border: 1px solid var(--ter-color);
    font-family: var(--fonte-prim);
    font-size: 1.25rem;
    padding: 12px;
    width: 180%;
    border-radius: 13px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    
    
}

.corpo {
    padding: 4% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.principal {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-items: center;
    
}

.texto {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 50%;
}


.botao_:hover{
    background-color: var(--shadow-b-color);
}

.cabecalho_link {
    color: var(--ter-color);
    font-family: var(--fonte-sec);
    font-weight: 600;
    text-decoration: none;

}

.cabecalho {
    padding: 2% 0 0 15.1%;
}

.barra_cabecalho {
    display: flex;
    gap: 80px;
}

.cabecalho_link:hover{
    color: var(--sec-color);
}

/* estilos exclusivos curriculo */

.corpo_curriculo {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: var(--main-bg-color);
}

.principal_resume {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.experiencia, .formacao {
    background-color: var(--curriculo_bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #00000080;
    margin: 10px;
}

.experiencia h2, .formacao h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
    color: var(--sec-color);
    font-family: var(--fonte-prim);
}

.conteudo_experiencia h3 {
    font-size: 1.5em;
    color: var(--ter-color);
    margin-bottom: 10px;
    font-family: var(--fonte-sec);
}

.conteudo_experiencia p {
    font-size: 1em;
    color: var(--sec-color);
    margin-bottom: 20px;
    text-align: justify;
    font-family: var(--fonte-sec);
}

.idi_hab {
    display: flex;
    gap: 20px;
    flex-direction: row;
}

.idiomas, .habilidades {
    background-color: var(--curriculo_bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px #00000080;
    width: 48%;
    margin: 10px;
    font-family: var(--fonte-sec);
}

.idiomas h2, .habilidades h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: var(--sec-color);
    text-align: center;
    font-family: var(--fonte-prim);
}

.idiomas ul, .habilidades ul {
    list-style-type: disc;
    padding-left: 20px;
}

.idiomas li, .habilidades li {
    font-size: 1em;
    color: var(--sec-color);
    margin-bottom: 10px;
}



@media (max-width: 750px ){
    .cabecalho{
        padding: 8%;
    }

    .barra_cabecalho{
        justify-content: center;
    }

    .titulo_principal{
        font-size: 1.5rem;
    }

    .paragrafo_apresentacao{
        font-size: 1rem;
    }

    .corpo{
        padding: 3% 5%;
        justify-content:center;
    }

    .principal{
        flex-direction: column-reverse;
        
    }
    .texto{
        width:auto;
    }

    .idi_hab {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        
    }

    .idiomas, .habilidades {
        padding: 20px;
        margin: 10px;
        width: auto;
    }
    
}